<h1>Editing original tag</h1>

<%= render "form", original_tag: @original_tag %>

<br>

<div>
  <%= link_to "Show this original tag", @original_tag %> |
  <%= link_to "Back to original tags", original_tags_path %>
</div>
