<div id="<%= dom_id value %>">
  <p>
    <strong>Original tag:</strong>
    <%= value.original_tag_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= value.title_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= value.value %>
  </p>

</div>
